html
{
  background-color: black;
  display: inline;
}
#backgroundv
{
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -40;
  display: inline;
}
#backgroundv
{
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -40;
}
.containermain
{
  width: 100%;
  min-width: 100vh;
}

/*Navigation*/
.navbar
{
  top: 3%;
  left:0;
  width: 70%;
  height: 50px;
  display: flex;
  align-items:center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.597);
}
nav
{
  flex: 1;
  text-align: left;
}
nav ul li
{
  list-style: none;
  display: inline-block;
}
nav ul li a
{
  text-decoration: none;
  color: #E97A69;
  font-size: 20px;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-bottom: 10px;
 font-family:'Special Elite',cursive;
}
nav ul li a:hover
{
  text-decoration: underline;
  color: #E97A69;
}
/*Responsive menu icon- button*/
#mybtn
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 5;
  border: none;
}
#mybtn:hover
{
  cursor: pointer;
}
.menu-icon
{
  cursor: pointer;
  height: 30px;
  width: auto;
  display: none;
}

/*Social media icons*/
.insta
{
  height: 30px;
  width: 30px;
}
.facebook
{
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.containersocial
{
  height: 30px;
  width: 90px;
  float: right;
  position: fixed;
  right: 0;
  top: 20px;
}


/*Home page images*/
.rowmain
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
/*Column 1: Text*/
.col-1
{
  align-items: center;
  height: auto;
  flex-basis: 50%;
  position: relative;
  text-align: center;
  margin-left: 50px;
  z-index: 1;
}
.col-1 .logo
{
  margin-top: 0;
  width: 20%;
  padding-bottom: 20px;
}
.col-1 .line
{
  width: 80%;
  top: 0;
}
.col-1 h1,h2
{
  color:#E97A69;
  font-size: 3vw;
  text-align: center;
  line-height: 0.1px;
  font-family: "whisper", sans-serif;
  font-weight: 100;
}
/*Column 2: Me*/
.col-2
{
  position: relative;
  flex-basis: 50%;
  display: flex;
  text-align: center;
}
.col-2 .me
{
  padding-top: 100px;
  width: 65%;
  height: 70%;
}
.col-2 .squares
{
  padding-top: 100px;
  position: absolute;
  width: 60%;
  height: 95%;
  z-index: -1;
  animation-name: opacity;
  animation-duration: 10s;
}
.col-2 .smoke-wrap
{
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
    top: -50%;
    opacity: 75%;
}
.col-2 .smoke , .smoke2
{
  height: 500px;
  padding-top: 0;
  padding-right: -300px;
}
.col-2 .smoke , .smoke2 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}
.col-2 .smoke{
  animation: smoke1 5s linear infinite;
  animation-delay: 0.5s;
}
.col-2 .smoke2 {
  animation: smoke2 5s linear infinite;
  animation-delay: 1.5s;

}
@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  75%
  {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}
@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75%
  {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}
/*Animations*/
@keyframes opacity
{
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes opacity2
{
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/*Buttons*/
button
{
  color: #E97A69;
  font-family:  Whisper, serif;
  font-size: 3vh;
  background-color: transparent;
  border: 1px solid #E97A69;
  cursor: pointer;
  text-decoration:none;
}
.button:hover
{
  background-color: rgba(0, 0, 0, 0.396);
  transform: scale(1.05);
}
/*Gallery*/
.row
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.column 
{
  flex: 25%;
  max-width: 23%;
  padding: 0 4px;
  margin-left: 15px;
  margin-top: 20px;
}
.column img
{
  margin-top: 20px;
  margin-bottom: 25px;
  vertical-align: middle;
  width: 100%;
  border: 17px solid white;
  padding: 0px 0px 30px 0px;
  background-color: white;
  width: 80%;
}
/*Responsive version*/
@media screen and (max-width:900px)
{
  /*Responsive navigation*/
  .navbar
  {
    background-color: transparent;
    left: 15px;
  }
  nav ul
  {
    width: 80%;
    height: 40%;
    background-color: #e97a6990;
    border-radius: 30px;
    position: fixed;
    top: 40px;
  }
  nav ul li
  {
    display: block;
    margin-top: 0.4vh;
    margin-bottom: 0px;
    z-index: 2;
    padding-top: 20px;
  }
  nav ul li a
  {
    color: black;
    font-size: 20px;
    z-index: 2;
  }
  .menu-icon
  {
    display: block;
    cursor: pointer;
    position: fixed;
    width: 30px;
    height: auto;
  }
  #menulist
  {
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
  }
  .rowmain
  {
    flex-direction: column;
    margin: 50px 0;
    z-index: -2;
  }
  /*Column 1- responsive*/
  .col-1
  {
    text-align: center;
    flex-basis: 100%;
    padding-bottom: 100px;
    z-index: -2;
  }
  .col-1 .line
  {
    width: 80%;
  }
  .col-1 .logo
  {
    width: 15%;
  }
  .col-1 h1,h2
  {
    font-size: 36px;
  }
  /*Column 2- responsive*/
  .col-2
  {
    flex-basis: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .col-2 .me
  {
    width: 77%;
  }
  .col-2 .squares
  {
    width: 72%;
  }
  /*Social icons- responsive*/
  .containersocial
  {
    position: fixed;
    top: 10px;
  }

/*Footer-responsive*/
  .footer
{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.672);
  text-align: left;
  width: 200px;
  height: 80px;
  font-size: 15px;
  color: #E97A69;
  left: 5px;
  right: 500px;
  bottom: 0;
  text-decoration: none;
  font-family:'Special Elite',cursive;
  padding-top: 10px;
  line-height: 20px;
}
@media screen and (max-width:600px)
{
  .column
  {
    flex: 100%;
    max-width: 100%;
  }
}
}